@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is an amalgamation of some of the most important things I've learned in M COM 320.</p>
    <p>Stay a while. Peruse the palace of information that you've taught me.</p>
    <a class="btn btn-primary" href="/WhatILearned">Things I've Learned</a>     <a class="btn btn-primary" href="ThingsToRemember">Things to Never Forget</a>

</div>
