@page
@model FinalSynthesis.Pages.ThingsToRememberModel
@{
}
<h1>Things I'd Like to Remember</h1>
<div style="margin-top:30px;">
<p style="margin-top:30px;">I've had an extremely fun time in this class. Learning about communication, people, and english has been a
    profusely enlightening experience. All of my life up until this point I've dreaded every paper that I was 
    required to write, every research paper I was assigned, and every interview I had to be a part of. This class has 
    shown me that with a little bit of focus, work, and precision I can be respected in almost any industry. Some unforgettable 
    things I've learned from this class include the following:
</p>
</div>
<ol>
    <li>Focusing on soft skills can be more important than focusing on hard skills</li>
    <li>I can prepare for the difficult, on-the-spot interview questions with PAR Stories</li>
    <li>Working in a team can be difficult, but is more rewarding than working alone</li>
    <li>Public speaking isn't something you're just born good at; practice is key</li>
    <li>Drafting papers is important—no more reports that have the same first and final draft!</li>
</ol>
<p>The things I've learned from this class will undoubtedly aid me in all of my future classes. Any paper that I 
    write will be meticulously crafted under the strict grammatical guidelines I've learned here. My performance at 
    work has already improved because I used the tricks we learned about building emails to get a raise. Lastly, I think 
    it will be pretty easy to utilize the life skills like interviewing and public speaking in the future. 
</p>
<p>
    As a web developer, I've almost always focused on honing my 'hard skills.' Things like learning new frameworks, 
    staying on the cutting edge of technology, and increasing my typing speed have always been more important to me 
    than learning how to make people like me. This class has taught me that, though important, hard skills can never 
    overcome the importance of being able to talk to other people. The world we live in is run by people, managed by people, 
    taught by people, and experienced by <b>people</b>. The only way to be successful in a world that is unequivocally 
    based on human interaction is to improve your interpersonal skills. 
</p>