@page
@model FinalSynthesis.Pages.WhatILearnedModel
@{
}
<head>
    <style>
        div.row{
            margin-top:40px;
        }
    </style>
</head>
<h1>Things I've Learned</h1>
<div class="row">
    <div class="col-9">
        <h3>The importance of Skilled Communication</h3>
        <ul class="align-content-center">
            <li>CEOs spend most of their time communicating.</li>
            <li>Communication is a must in the business world. Companies want their employees to be able to intellectually communicate.</li>
            <li>Become a leader - learn from people, coordinate their efforts, share knowledge, communicate high standards, and inspire.</li>
        </ul>
    </div>
    <div class="col-3">
        <img src="\img\v2_featured_art_disagree_convo_istock.jpg" width="300"/>
    </div>
</div>
<div class="row">
            <h3>GRAMMAR IS IMPORTANT</h3>
    <div class="col-3" style="margin-top:10px;">
        <img src="\img\90fb182f-a9d3-4665-bab0-b8d4a4543253.jpg" width="300"/>
    </div>
    <div class="col-9">
        <ul>
            <li>Though I've spoken this language since I was a baby, the nuances and reasoning behind the structure of the english language has eluded me until this class.</li>
            <li>Avoid using "There" and "It" as subjects of a sentence.</li>
            <li>Make sure that the modifier you're implementing is clearly giving information about the correct noun.</li>
            <li>Who is for the subject, whom is for the object. (Usually)</li>
            <li>CREATE PARALLEL EXPRESSIONS - This one I've done correctly for a long time, but didn't understand why it felt right until now.</li>
        </ul>
    </div>
</div>
<div class="row">
    <h3>Writing a Message</h3>
    <div class="col-4">
        <h4>PLAN</h4>
        <ul>
            <li><b>P</b>urpose - Decide what you want your audience to know/feel/do after</li>
            <li><b>A</b>udience - Consider cultural, privacy, and security issues of your audience</li>
            <li><b>S</b>trategy - Appeal to the rhetorical strategies of pathos, ethos, and logos</li>
            <li><b>S</b>tructure - Build clear frameworks into your writing</li>



        </ul>
    </div>
    <div class="col-4">
        <img src="/img/Plan.jpeg" width="350" style="margin-top:20px;"/>
    </div>
    <div class="col-4">
        <h4>ORGANIZE</h4>
        <ul>
            <li>Organize Information - Structure for clarity, and frame the message using outlining</li>
            <li>Outline - <b>Top-Down Approach, Mind Mapping, Bottom-Up Approach</b></li>
            <li>Use the 4A structure - Get <b>A</b>ttention, Give <b>A</b>genda, Present <b>A</b>rgument, Call to <b>A</b>ction </li>
        </ul>
    </div>
</div>
<div class="row align-content-center justify-content-center">
    <h1 style="left:50%; right:50%;">Writing can be fun!</h1>
    <img src="/img/images.jpg" width="100" style="width:500px;" />   
</div>